body {
    background-image: url('./assets/Group-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-size: x-large;
    color: white;
}

label {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    color: white;
}